
body {
font-family: 'Roboto', sans-serif;
background-color: #FFF;
color: #434455 ;
}

ul { list-style: none;}

a { text-decoration: none; }

.adress { font-style: normal;}

p,h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 0;
}
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

header {
border-bottom: 1px solid #e7e9fc
}
.header {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08); 
}

.studio {
	color: #404bbf;
}




.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
   }
header .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 332px;
}

.header-logo {
    color: #4D5AE5;
    font-family: Raleway,sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    margin-right: 76px;
    flex-shrink: 0;
}
.header-logo-web {
    color: #2E2F42;
}
.nav-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.32px;
    display: block;
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studio {
	color: #404bbf;
}

.studio::after {
	position: absolute;
	content: "";
	display: block;
	width: 100%;
	height: 4px;
	background-color: #404bbf;
	border-radius: 2px;
	margin-top: 20px;
	bottom: -1px;
}


.nav-list {
    display: flex;
    gap: 40px;
}

.header-nav {
    display: flex;
    align-items: center;
}

.nav-item {
    
}

.nav-link:hover, .nav-link:focus {
    color: #404BBF;
}

.adress-list {
    display: flex;
    gap: 40px;
    font-style: normal;
    letter-spacing: 0.32px;
}

.contaks-link {
    display: block;
    padding: 24px 0;
    line-height: 1.5; 
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.32px;
}

.contaks-link :hover, .contaks-link :focus {
    color: #404BBF; 
}


.contaks-link {
    color: #434455;
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.32px;

}   

.section-effect {
    background-color:#2E2F42;
    color: #FFF;
    height: 600px;
    text-align: center ;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
    url(./../images/people-office.jpg);
     background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    max-width: 1440px;
    margin: auto;
  
    
}


.main-effect {
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07; 
    letter-spacing: 1.12px;
    max-width: 496px;
    margin:auto auto 48px auto
    
}
.button {
    color: #FFF;
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 1.5; 
letter-spacing: 0.04em;
background:#4D5AE5;
cursor: pointer;
border: none;
padding: 16px 32px;
min-width: 169px;
border-radius: 4px;
margin: auto;
display: block;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
    color: #FFF;
    background-color: #404BBF;
}

.nav-link:hover,
.nav-link:focus {
    color: #404BBF;
}

.contaks-link:hover,
.contaks-link:focus {
    color: #404BBF;
}

.section-requirements {
    padding: 120px 0;
}

    
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }




.our-portfolio {
    padding: 120px 0;
}

.title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; 
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 72px;
    
}

.team-list {
    display: flex;
    gap: 24px;
   }

.title-item-text {
    color:#2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; 
    letter-spacing: 0.4px;
    margin-bottom: 8px;
   

}
.list-text {
    color:#434455;
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.32px;
    width: 264px;
}

.our-team {
    background-color:#F4F4FD;
   padding: 120px 0;
}

   
.portfolio-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    row-gap: 48px;
}

.portfolio-item {
    position: relative;
    width: calc((100% - 48px) / 3);
    border-radius: 0px 0px 4px 4px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;

    }
   
    .portfolio-item:hover {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    }

    .portfolio-item:hover p 
    {
       transform: translateY(0%);
    }

    .portfolio-images {
        position: relative;
        overflow: hidden;
    }

    .overlay-text {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 40px 32px;
        color: #F4F4FD;
        background-color: #4D5AE5;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }


.portfolio-descr {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
    
}

.team-item { 
background-color: #FFFFFF;
text-align: center;
border-radius: 0px 0px 4px 4px;
flex-basis: calc((100% - 72px) / 4);
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.social-links-item {
    width: 40px;
    height: 40px;
}

.social-links-item-link {
     display: flex;
     align-items: center;
     justify-content: center;
     width: 100%;
     height: 100%;
     background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.social-links-icon {
    fill: #f4f4fd;
}

.social-links-item-link:hover, .social-links-item-link:focus {
    background-color: #404bbf;
}
.main-info-list-item-descr {
    padding: 32px 0;
}


.icon-bcg {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 264px;
    height: 112px;
    border: 1px;
    background-color: #F4F4FD;
    border: #8E8F99;
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid #8E8F99;
    
}
.requirements-list {
    display: flex;
    gap: 24px;
}

.footer {
background-color: #2E2F42;
padding: 100px 0;
}
.footer-container {
    display: flex;
	align-items: baseline;
	width: 1158px;
	margin: 0 auto;
	padding: 0 15px;
}

.footer-logo {
    color: #4D5AE5;
    font-family: Raleway,sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    margin-bottom: 16px;
    flex-shrink: 0;
    display: inline-block;
}



.footer-logo-studio {
    color: #F4F4FD;
  }

.footer-text {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
   max-width: 264px;
   
}

.footer-social-links {
    display: flex;
    gap: 16px;
}

.footer-text-social {
    color:#FFF;
    font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
margin-bottom: 16px;
}

.footer-social-links-item {
    width: 40px;
    height: 40px;
}
.footer-social-links-item-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social{
    margin-right: 80px;
   
}
.footer-info {
    margin-right: 120px;
}

footer .container {
    display: flex;
} 

.footer-social-links-item-link:hover,
.footer-social-links-item-link:focus {
    background-color: #31d0aa;
}

.subscribe-form {
	display: flex;
	gap: 24px;
}

.subscribe-input {
	width: 264px;
	height: 40px;
	border: 1px solid #ffffff;
	background-color: transparent;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
	font-family: Roboto;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.04em;
	padding-left: 16px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	color: #ffffff;
}

.subscribe-input::placeholder{
	font-family: Roboto;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: #ffffff;
}

.subscribe-btn {
    min-width: 165px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: #ffffff;
	padding: 8px 24px;
	cursor: pointer;
	background-color: #4D5AE5;
	border: none;
	border-radius: 4px;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover, .subscribe-btn:focus {
	background-color: #404BBF;
}

.subscribe-icon {
	margin-left: 16px;
}

.modal.is-open {
    visibility: visible;
    opacity: 1;
}

.modal {
    position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(46, 47, 66, 0.4);
	display: grid;
	align-items: center;
	justify-content: center;
	visibility: hidden;
	opacity: 0;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-container {
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);
	width: 408px;
	min-height: 584px;
	background: #fcfcfc;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
	padding: 72px 24px 24px 24px;
}

.modal-close {
    position: absolute;
	top: 24px;
	right: 24px;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #E7E9FC;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0;
	cursor: pointer;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover, .modal-close:focus {
	background-color: #404bbf;
	border: none;
}

.modal-close-icon {
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover .modal-close-icon, .modal-close:focus .modal-close-icon {
	fill: #ffffff;
}


.modal-form-title {
    font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	text-align: center;
	letter-spacing: 0.02em;
	color: #2E2F42;
	margin-bottom: 16px;
}
.modal-form-group {
margin-bottom: 8px;
}

.modal-form-label {
    font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.04em;
	color: #8E8F99;
	display: block;
	margin-bottom: 4px;
}

.modal-container-input {
    position: relative;
}

.modal-form-input {
    width: 100%;
	height: 40px;
	border: 1px solid rgba(46, 47, 66, 0.4);
	border-radius: 4px;
	background-color: transparent;
	padding-left: 38px;
	outline: transparent;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus-within, .modal-form-input:focus {
	border-color: #4D5AE5;
}

.modal-form-input-icon {
    position: absolute;
	left: 16px;
	top: 50%;
	transform: translateY(-50%);
	fill: #2E2F42;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-container-input:focus-within .modal-form-input-icon, .modal-container-input:focus .modal-form-input-icon {
	fill: #4D5AE5;
}

.modal-form-group-textarea {
    margin-bottom: 16px;
}

.modal-form-textarea {
	display: block;
	width: 100%;
	height: 120px;
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.04em;
	color: rgba(46, 47, 66, 0.4);
	border: 1px solid rgba(46, 47, 66, 0.4);
	border-radius: 4px;
	background-color: transparent;
	padding: 8px 16px;
	outline: transparent;
	resize: none;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-textarea:focus-within, .modal-form-textarea:focus {
	border-color: #4D5AE5;
}

.modal-form-checkbox {
    margin-bottom: 24px;
}

.modal-form-checkbox-input {
	width: 16px;
	height: 16px;
}

.modal-form-terms {
    font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.04em;
	color: #8E8F99;
	font-family: 'Roboto', sans-serif;
}

.modal-form-terms-pp {
    width: 16px;
	height: 16px;
	border: 1px solid rgba(46, 47, 66, 0.4);
	border-radius: 2px;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	display: inline-flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: center;
	fill: transparent;
	margin-right: 8px;
}

.modal-form-checkbox-input:checked + .modal-form-terms .modal-form-terms-pp {
	background-color: #404bbf;
	border: none;
	fill: #f4f4fd;
}

.modal-form-terms-pp-link {
	color: #4D5AE5;
	text-decoration: underline;
}

.form-btn {
    display: block;
	margin: 0 auto;
	min-width: 169px;
	height: 56px;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: #ffffff;
	cursor: pointer;
	border-radius: 4px;
	border: none;
	background-color: #4D5AE5;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover, .form-btn:focus {
	background-color: #404BBF;
}